/*---Global---*/

article {
    padding: 35px;
}

body {
    background-color: #F9F1F0;
}

p {
    font-family: 'Montserrat', arial, sans-serif;
    font-weight: 300;
    color: #67595E; /* #222222; */
    font-size: 20px;
}

hr {
    border-top: 3px dashed #A49393;
  }

/*---Headings---*/

h1.main, h2.main, h3.main {
    text-align: center;
}

h1, h2, h3 {
    color: #d26c74;
    font-family: 'Lora', Georgia, serif;
/*    padding-left: 20px; */
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

h2 {
    font-size: 35px;
    font-weight: 700;
}

h3 {
    font-size: 25px;
    font-weight: 700;
}

/*---Examples: Fonts--*/
.MontserratFont p {
    font-family: 'Montserrat', arial, sans-serif;
    font-size: 20px;
}

.LoraFont p {
    font-family: 'Lora', Georgia, serif;
    font-size: 20px;
}
/*---Examples: Colors---*/

.colors p {
    font-size: 18px;
    text-align: center; 
}

.darkbg {
    color: #F9F1F0;
}

#maincolor {
    display: inline-block; 
    width: 150px;
    height: 150px;
    background-color: #d26c74;
/*    border: 1px solid black;*/
    border-radius: 50%;
/*    text-align: center; */
    padding: 15px;
    margin: 15px;
}

#accent1 {
    display: inline-block; 
    width: 150px;
    height: 150px;
    background-color: #67595E;
/*    border: 1px solid black;*/
    border-radius: 50%;
/*    text-align: center; */
    padding: 15px;
}

#accent2 {
    display: inline-block; 
    width: 150px;
    height: 150px;
    background-color: #A49393;
    border-radius: 50%;
    padding: 15px;
    margin: 15px;
}

#accent3 {
    display: inline-block; 
    width: 150px;
    height: 150px;
    background-color: #EED6D3;
    border-radius: 50%;
    padding: 15px;
}

#background {
    display: inline-block; 
    width: 150px;
    height: 150px;
    background-color: #F9F1F0;
    border: 1px solid black;
    border-radius: 50%;
    padding: 15px;
    margin: 15px;
}

/*---Links---*/

a:link, 
#linkex {
    color: #67595E;
}

a:visited, 
#visitedex {
    color: #A49393;
}

a:hover, 
#hoverex {
    color: #d26c74;
}

a:active, 
#activeex {
    color: #EED6D3;
}


